{% extends 'base.html' %}

{% block content %}
<div class="container">
 
 <h1>Detail Post</h1>
 
 <p>
     <h2>제목 : {{carpool.title}}</h2>
     <p>작성자 : {{carpool.writer}}</p>
     <p>발행일 : {{carpool.pub_date}}</p>
     <p>
         본문
         <br>
         {{carpool.body}}
     </p>
 </p>
 <br>
 <a href="{% url 'carpool:edit' carpool.id %}">수정하기</a>
 <a href="{% url 'carpool:delete' carpool.id %}">삭제하기</a>
 <hr>
 <a href="{% url 'carpool:carpool_home' %}"> home </a>

<h5>Comments</h5>
{%for comment in comments%}
<p>작성자:{{comment.writer}}</p>
<p>comment:{{comment.content}}</p>
{%endfor%}
<hr>
<form action="{%url 'carpool:new_comment' carpool.id%}" method="POST">
   {% csrf_token %}
   작성자:<input name="writer" type="text">
   <br>
        내용 :<br> <textarea name="content" id="" cols="30" rows="10"></textarea>
        <br>
        <input type="submit">
        <br>
</form>

</div>
</body>
{% endblock %}

<style>
    
</style>
