{% extends 'base.html' %}
<!-- 
[base.html]
<head>
</head>

<body>
 -->
{% block content %}
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <a href="{% url 'new' %}">분실물 등록하러 가기</a>
            <br>
            <br>
            <div class="row">
                {% for lost in page_losts %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        
                        <img src="{{lost.image.url}}" class="card-img-top" alt="...">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em"><a href="{% url 'detail' lost.id %}">분실물: {{lost.title}}</a></text>
                        <div class="card-body">
                            <p class="card-text">작성 날짜: {{lost.pub_date}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div> -->
                                <!-- <small class="text-muted">9 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor%}
                <br>
            </div>
                <!-- pagination 시작-->
                {%if page_losts.has_previous%}
                <a href="?page=1">First</a>
                <a href="?page={{page_losts.previous_page_number}}">Previous</a>
                {%endif%}

                <span>{{page_losts.number}}</span>
                <span>of</span>
                <span>{{page_losts.paginator.num_pages}}</span>

                {%if page_losts.has_next%}
                <a href="?page={{page_losts.next_page_number}}">Next</a>
                <a href="?page={{page_losts.paginator.num_pages}}">Last</a>
                {%endif%}
                <!-- pagination 끝 -->


            
        </div>
    </div>
</main>
</body>

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
{% endblock %}